aws_region               = "us-east-1"
aws_profile              = "admin"
project_name             = "project1-k8s"
environment              = "main"
project_1_state_bucket   = "project1-tfstate-example"
project_1_state_key      = "project1/main/terraform.tfstate"
project_1_state_region   = "us-east-1"
cluster_version          = "1.31"
cluster_enabled_log_types = ["api", "audit", "authenticator", "controllerManager", "scheduler"]
eks_control_plane_log_retention_days = 14
node_instance_types      = ["t3.medium"]
node_desired_size        = 2
node_min_size            = 1
node_max_size            = 4
disk_size_gb             = 30
ecr_repository_name      = "project1-webapp"
ecr_image_tag_mutability = "IMMUTABLE"
enable_github_oidc_role  = true
github_repository        = "org/repository"
github_oidc_branch       = "main"
