aws_region             = "us-east-1"
aws_profile            = "admin"
project_name           = "project1-cicd"
environment            = "main"
artifact_bucket_name   = "project1-cicd-artifacts-example"
repository_full_name   = "org/repository"
repository_branch      = "main"
codestar_connection_arn = "arn:aws:codestar-connections:us-east-1:123456789012:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
project_1_directory    = "terraform/01-core-infra"
project_1_var_file     = "terraform.tfvars"
project_1_state_bucket = "project1-tfstate-example"
project_1_state_key    = "project1/main/terraform.tfstate"
project_1_state_region = "us-east-1"
terraform_version      = "1.9.8"
enable_manual_approval = true
notification_email     = "alerts@example.com"
